<!DOCTYPE html>
{% load static %}
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% if company_name %} {{company_name}} {% else %} Enterprise Resource Planning {% endif %} {% if title %} | {{title}} {% endif %}</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="{% static 'system/v1/bower_components/bootstrap/dist/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'system/v1/bower_components/font-awesome/css/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'system/v1/bower_components/Ionicons/css/ionicons.min.css' %}">
  <link rel="stylesheet" href="{% static 'system/v1/dist/css/AdminLTE.min.css' %}">
  <link rel="stylesheet" href="{% static 'system/v1/dist/css/skins/skin-blue.min.css' %}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
  <link rel="stylesheet" href="{% static 'system/v1/assets/style.css' %}">
  {% block css %}
  {% endblock css %}
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
 {% include 'system/v1/Partials/header.html' %}
 {% include 'system/v1/Partials/sidebar.html' %}
  <div class="content-wrapper">
    {% include 'system/v1/Partials/notification.html' %}
    {% block content %}

    {% endblock content %}
  </div>
 {% include 'system/v1/Partials/footer.html' %}
</div>
<script src="{% static 'system/v1/bower_components/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'system/v1/bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'system/v1/dist/js/adminlte.min.js' %}"></script>
{% block js %}
{% endblock js %}
</body>
</html>